<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
  <li class="nav-item" [ngbNavItem]="1">
    <button ngbNavLink class="nav-link">PDF Generator</button>
    <ng-template ngbNavContent>
      <app-index-page></app-index-page>
    </ng-template>
  </li>

  <li class="nav-item" [ngbNavItem]="2">
    <button ngbNavLink class="nav-link">YT Downloader</button>
    <ng-template ngbNavContent>
      <app-yt-downloader></app-yt-downloader>
    </ng-template>
  </li>

  <li class="nav-item" [ngbNavItem]="3">
    <button ngbNavLink class="nav-link">Menu Three</button>
    <ng-template ngbNavContent>
      <p style="padding: 10px; line-height: 1.5; color: #333">
        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget
        sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae
        odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu,
        congue et odio.
      </p>
    </ng-template>
  </li>
</ul>

<div
  [ngbNavOutlet]="nav"
  class="mt-3 border p-3 rounded shadow-sm bg-light"
></div>

<pre class="mt-3">Active Tab: {{ active }}</pre>
